body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f7f5f0;
    background-image: url(../img/countryside.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

iframe {
    width: 640px;
    height: 1396px;
}