@font-face {
    font-family: Forum;
    src: url("../fonts/Forum-Regular.ttf");
}

:root {
    --font-size-title: 80px;
    --font-size-h1: 48px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-text: 16px;
    --color-green: #494b48;
    --color-white: white;
    --margin-medium: 20px;
    --margin-big: 40px;
    --margin-very-big: 80px;
}

body {
    margin: 0;
}

body * {
    font-family: Forum;
    font-size: var(--font-size-text);
    text-align: center;
}

.header {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 50px 25px;
    font-style: italic;
}

.title__logo {
    width: 400px;
    height: 400px;
    background-image: url("../img/initials.png");
    background-size: contain;
    margin: auto;
}

.title__names {
    font-size: var(--font-size-title);
    letter-spacing: 16px;
    text-transform: uppercase;
}

.title__countdown {
    font-size: var(--font-size-h3);
    letter-spacing: 4px;
    margin-top: var(--margin-medium);
}

.title__when-and-where {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-medium);
}

.title__when-and-where * {
    font-size: var(--font-size-h1);
    text-transform: uppercase;
}

.title__when-and-where hr {
    margin: 0px var(--margin-very-big);
}

.agenda__title {
    font-size: var(--font-size-h1);
    margin-top: var(--margin-medium);
    text-transform: uppercase;
}

.agenda {
    margin-top: var(--margin-medium);
}

.agenda>div:first-child {
    font-size: var(--font-size-h3);
    text-transform: uppercase;
}

.agenda__item {
    margin-top: var(--margin-medium);
}

.agenda__item>div:first-child {
    font-weight: bold;
}