body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f7f5f0;
}

p {
    font-size: var(--font-size-text);
    max-width: 500px;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: normal;
    margin-bottom: 0;
}

iframe {
    width: 300px;
    height: 300px;
    border: 0;
}

.main {
    display: flex;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    gap: var(--margin-small);
    margin-top: var(--margin-small);
}

table {
    border-collapse: collapse;
    border: 2px solid var(--color-black);
}

th,
td {
    border: 1px solid var(--color-black);
    padding: 5px;
    font-size: var(--font-size-h2);
}

.table-house {
    font-weight: bold;
    text-align: center;
}